<div class="ui grid container">
		<div class="sixteen wide column">
			<div class="ui form segment">
        <h3>Login</h3>
        <hr>
				<div class="field">
					<label>Usuario</label>
					<div class="ui left icon input">
						<input type="text" placeholder="Usuario" ng-focus="usernot=false" name="user" ng-model="user.usuario">
						<i class="user icon"></i>
					</div>
					<span ng-show="usernot" style="color:red;">Ingrese Usuario</span>
				</div>
				<div class="field">
					<label>Contraseña</label>
					<div class="ui left icon input">
						<input type="password" placeholder="Password" name="pass" ng-focus="passnot=false" ng-model="user.password">
						<i class="lock icon"></i>
					</div>
					<span ng-show="passnot" style="color:red;">Ingrese Password</span>
				</div>
				<!-- <div  class="ui blue submit button" ng-click="log(user)">Login</div> -->
        <div class="ui buttons">
          <button class="ui button">Registrar</button>
          <div class="or" data-text="o"></div>
          <button class="ui positive button">Iniciar</button>
        </div>
			</div>
			<span ng-show="out"><h1 style="color:red;text-align:center">Sesion Invalida</h1></span>
		</div>
	</div>
